/* This file styles the NavBar */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.default-border {
    border-width: 2px;
    /* Border width */
    border-style: solid;
    /* Border style */
    border-color: red;
    /* Border color */
}



.nav-bar {
    @apply flex items-center justify-between border-b border-gray-400 p-4
}

.logo {
    @apply w-20 h-10
}

.menu {
    @apply block h-1 w-8 animate-pulse bg-gray-600
}

.menu-options {
    @apply flex flex-col items-center justify-between min-h-[250px]
}

.menu-option {
    @apply border-b border-gray-400 my-8 uppercase font-bold text-lg
}



.hideMenuNav {
    display: none;
}

.showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}